.what-i-do{
  width:100vw;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-wrap:wrap;
   animation:fadeInUp;
 animation-duration:2s;

}
.what-i-do-item{
  height:100%;
  width:330px;
  margin:20px 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
}
.what-i-do-item > titleandicon{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:row;
}
.what-i-do-item-title{
  font-size:25px;
  color:#242424;
}
.what-i-do-item-description{
  color:grey;

}
.fa-solid{
  font-size:60px;
  margin:10px;
  color:#1e70ff;
    transition:0.7s;
}
.fa-solid:hover{
 color:#242424;
  transition:0.7s;
  transform:rotate(20deg);
}


@media only screen and (max-width: 1000px) {
 

.what-i-do-item{
  flex-direction:column;
}

}




