@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.social-icon-row{
  
}


#social-icon-github:hover,#social-icon-twitter:hover,#social-icon-discord:hover,#social-icon-email:hover{
  color:#1e70ff;
  transition:0.3s;
}
#social-icon-github,#social-icon-twitter,#social-icon-discord,#social-icon-email{
  transition:0.3s;
  font-size:40px;
  color:#242424;
  margin:20px;
    transition:0.3s;
}

#social-icon-github{
     animation:fadeInUp;
 animation-duration:0.5s;

}
#social-icon-twitter{
     animation:fadeInUp;
 animation-duration:1s;
}
#social-icon-discord{
     animation:fadeInUp;
 animation-duration:1.5s;
}
#social-icon-email{
     animation:fadeInUp;
 animation-duration:2s;
}


.reviews-container{
  width:100vw;
   display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  
}
.customer-reviews{
  width:60vw;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin:;
  flex-direction:column;
}
.testimonial-card{
  width:1000px;
  height:300px;
  background:linear-gradient(45deg,  white , #f5f5f5 );
  display:flex;
  justify-content:left;
  align-items:center;
  text-decoration:none;
  text-align:left;
  margin:40px 0px;
  flex-direction:column;
  border-radius:10px;
  margin:20px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  
}
.testimonial-card > span{
   display:flex;
   width:100%;
  justify-content:left;
  align-items:center;
  text-decoration:none;
  text-align:left;
    flex-direction:column;
}
.testimonial-card-picture{
  width:70px;
  height:70px;
  border-radius:10000000000000000px;
  margin:20px;
}
.photo-container{
  width:100%;
  text-align:left;
}
.testimonial-card-name{
  font-weight:bold;
  width:100%;
  text-align:left;
  font-size:20px;
}
.testimonial-card-name > p{
margin:0px 20px;

}

.testimonial-card-p{
  margin:0px 20px;
  text-align:left;
  width:100%;
}
.testimonial-card-p > p{
  margin:0px 20px;
}

.testimonial-card-position{
   width:100%;
  text-align:left;
font-size:15px;
  font-style:italic;
}
.testimonial-card-position > p{
margin:10px 20px;
  
}
.form-box-container{
  width:100vw;
  text-align:center;
   display:flex;
  justify-content:center;
  align-items:center;
}

.form-box{

  height:90vh;
  padding:20px;
  width:70vw;
  background:white;
  margin:40px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px
}

.submitted-content{
  display:none;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  width:100%;
  height:100%;
}
.fa-check-to-slot{
  font-size:120px;
  color:#1e70ff;
}
.submitted-p{
  color:white;
  font-size:30px;
  width:60%;
  text-align:center;
  font-weight:bold;
}
.form-content{
  width:80%;
  height:100%;
   display:flex;
  justify-content:center;
  align-items:center;
    flex-direction:column;
}
.form-top-section{
  width:100%;
   display:flex;
  justify-content:center;
  align-items:center;
    flex-direction:row;

}
.form-bottom-section{
  width:100%;
   display:flex;
  justify-content:center;
  align-items:center;
    flex-direction:row;
}
.form-top-section-question{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:left;
      flex-direction:column;
      margin:0px;
            border-radius:10px;
}
.form-bottom-section-question{
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:left;
      flex-direction:column;
      margin:10px;

}
.top-section-label{
  width:90%;
    margin:10px 0px;
    color:grey;
    font-size:20px;
}
.bottom-section-label{
  width:100%;
font-size:20px;
  margin:10px 0px;
  color:grey;
}
#name, #email, #message{
  font-size:15px;
 border:none;
     padding:10px 0px;

          
                        font-family:Montserrat;
                        background:transparent;
                        border-bottom:2px solid grey;
                        
                        outline:none;
}
#name{
  width:90%;
  height:20px;
 
                    
}
#email{
    height:20px;
  width:90%;

                        
}
#message{
  width:100%;
  height:300px;
    resize:none;
            
          
}
input{
   
}
.submit-b-container{
  width:100%;
  text-align:left;
}
#submit-b{
  border:none;
  padding:15px 25px;
  background:#242424;
  color:white;
  border-radius:5px;
    transition:0.3s;
    margin:20px 0px;
    font-weight:bold;
  
}
#submit-b:hover{

  background:#1e70ff;
 
  transition:0.3s;
  
}



@media only screen and (max-width: 1000px) {
 
 
 .contact-container{
   display:flex;
  justify-content:center;
  align-items:center;
}
 .form-box{
  width:80vw;
  }
  .submit-b-container{
  width:97%;
  text-align:center;
}

}

