.social-icon-row{
  
}


#social-icon-github:hover,#social-icon-twitter:hover,#social-icon-discord:hover,#social-icon-email:hover{
  color:#1e70ff;
  transition:0.3s;
}
#social-icon-github{
     animation:fadeInUp;
 animation-duration:0.5s;
   font-size:40px;
  color:#242424;
  margin:20px;
    transition:0.3s;
}
#social-icon-twitter{
     animation:fadeInUp;
 animation-duration:1s;
   font-size:40px;
  color:#242424;
  margin:20px;
    transition:0.3s;
}
#social-icon-discord{
     animation:fadeInUp;
 animation-duration:1.5s;
   font-size:40px;
  color:#242424;
  margin:20px;
    transition:0.3s;
}
#social-icon-email{
     animation:fadeInUp;
 animation-duration:2s;
   font-size:40px;
  color:#242424;
  margin:20px;
    transition:0.3s;
}


.form{
  width:50vw;
  height:100vh;
  border:none;
  border-radius:20px;
  margin:20px 0px;
   animation:fadeInUp;
 animation-duration:2s;
}
}

@media only screen and (max-width: 1000px) {
 
 
 .contact-container{
   display:flex;
  justify-content:center;
  align-items:center;
}
 

}

