@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


html{
  
}
body{
  background:black;
    font-family:DM Sans;
}


.header-box{
  width:100vw;
  height:78px;
  background:white;
 display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin:-8px;
  justify-content:right;
}
.header-button-group{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:blue;
  height:70px;
}
.header-button{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  height:100%;
  width:120px;
  background:white;
  font-size:17px;
  font-weight:bold;
  color:#1e70ff;
  border:none;
   transition:0.3s;
}
.background-vid{
  width:100vw;
  height:auto;
  z-index:-1;
  position:absolute;
  margin:-8px;
  filter:brightness(50%);
}

.lander-container{
  width:100vw;
  margin:-8px;
  height:calc(100vh - 70px);
  display:flex;
  align-items:center;
    z-index:-2;
}
.lander-left-section{
  padding:0px;
  transform: translate(100px, 0px);
}
.name{
   font-size:60px;
  font-weight:bold;
  margin:10px 0px;
  color:#1e70ff;
}
.job{
    font-size:30px;
  font-weight:bold;
  color:white;
    margin:10px 0px;
}
.left-section-button{
  background:#1e70ff;
  padding:15px 20px;
  border-radius:10px;
  border:none;
  margin:10px 0px;
  font-size:15px;
  color:white;
  font-weight:bold;
  
  
}
@media only screen and (max-width: 1000px) {
 
 .header-box{
  width:100vw;
  height:78px;
  background:white;
  display:flex;
  margin:-8px;
  justify-content:center;
}

 .lander-container{
   display:flex;
  justify-content:center;
  align-items:center;
}
 .lander-left-section{
  padding:0px;
  transform: translate(00px, 0px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.header-button{
  width:90px;
}

}
