@import url("https://m2480g2u0guf20bf2.github.io/universal.css");

body{
    height:100%;
    overflow:hidden;
}


.background-vid{
  width:100vw;
  height:auto;
  z-index:-1;
  position:absolute;
  margin:-8px;
  filter:brightness(50%);
}

.lander-container{
  width:100vw;
  margin:-8px;
  height:calc(100vh - 70px);
  display:flex;
  align-items:center;
    z-index:-2;
}
.lander-left-section{
  padding:0px;
  transform: translate(100px, 0px);
  display:flex;
  justify-content:left;
  align-items:center;
  text-align:left;
  flex-direction:row;
}
.left-section-p{
  display:flex;
  justify-content:left;
  text-align:left;
  flex-direction:column;
}
.name{
   font-size:60px;
  font-weight:bold;
  margin:-10px 0px;
  color:#1e70ff;
    animation:bounce;
  animation-duration: 0.5s;
}
.job{
    font-size:30px;
  font-weight:bold;
  color:white;
  margin:30px 0px;
  margin-top:20px;
    animation:bounceIn;
    animation-duration:0.3s;
}
.left-section-button{
  background:#1e70ff;
  padding:15px 20px;
  border-radius:10px;
  width:100px;
  border:none;
  font-size:15px;
  color:white;
  font-weight:bold;
    transition:.3s;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  text-align:center;
    animation:bounceIn;
    animation-duration:0.2s;
}
.left-section-button-container{
  display:flex;
  justify-content:left;
  align-items:center;
  width:100%;
}
.left-section-button:hover{
  background:white;
  color:#1e70ff;
  transition:.3s;
  text-align:center;
}
@media only screen and (max-width: 1000px) {

 .lander-container{
   display:flex;
  justify-content:center;
  align-items:center;
}
 .left-section-p{
  display:flex;
  justify-content:center;
  text-align:center;
  flex-direction:column;
}

.lander-left-section{
  padding:0px;
  transform: translate(0px, 0px);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:row;
}
.left-section-button-container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
}

.background-vid{
  width:300vw;
  z-index:-1;
  position:absolute;
  margin:-8px;
  filter:brightness(50%);
}

}


