.work-text-container{
    width:100vw;
  margin:-8px;
  height:auto;
  display:flex;
  align-items:center;
  flex-direction:column;
    z-index:-2;
}
.work-p-box{
  width:50vw;
  height:auto;
  text-align:left;
  margin:40px 0px;
}
.work-p{
  font-size:20px;
  margin:20px;
  text-align:left;
  margin:10px 0px;
    color:#242424;
}
.work-gallery-container{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-wrap:wrap;
  width:60vw;
     animation:fadeInUp;
 animation-duration:2s;
}
.design-box{
  width:200px;
  height:200px;
  background:blue;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin:10px;
  background-size:cover;
  border-radius:10px;

}
.design-name{
  width:200px;
  height:50px;
  background-image:url('https://raw.githubusercontent.com/Awes0meDev/code/gh-pages/thumbnail-dark.jpeg');
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-top:150px;
  color:white;
    border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
}
